In [ ]:
#판다스는 딕셔너리 데이터를 기반으로 동작한다.

In [3]:
data = {
  'name' : ['kim','lee','park','choi','jung'],
  'class' : ['java','java','java','cad','cad'],
  'korScore' : [90,80,70,100,90],
  'engScore' : [70,80,80,70,90],
  'avgScore' : [80.0,80.0,75.0,85.0,90.0],
  'hobby':['book','','','yoga','soccer']
  }

In [4]:
# pandas 라이브러리 import
import pandas

In [5]:
#딕셔너리 데이터를 표 형태로 변환
#표 형태 로 표현하기 위해 판다스의 DataRrame을 사용
df = pandas.DataFrame(data)
#변수명 = 함수표현형식(출력할 데이터)
df

   name class  korScore  engScore  avgScore   hobby
0   kim  java        90        70      80.0    book
1   lee  java        80        80      80.0
2  park  java        70        80      75.0
3  choi   cad       100        70      85.0    yoga
4  jung   cad        90        90      90.0  soccer

In [6]:
#특정 컬럼의 데이터만 조회 
df['name']

0     kim
1     lee
2    park
3    choi
4    jung
Name: name, dtype: object

In [ ]:
#특정 컬럼을 두개이상 조회
df[['name','class']] 
#매개변수의 갯수를 1개로 전달해주기 위한 방법

   name class
0   kim  java
1   lee  java
2  park  java
3  choi   cad
4  jung   cad