In [41]:
data = {
  'name' : ['kim','lee','park','choi','jung'],
  'class' : ['java','java','java','cad','cad'],
  'korScore' : [90,80,70,100,90],
  'engScore' : [70,80,80,70,90],
  'avgScore' : [80.0,80.0,75.0,85.0,90.0],
  'hobby':['book','','','yoga','soccer']
  }

In [42]:
import pandas

df = pandas.DataFrame(data)

df

   name class  korScore  engScore  avgScore   hobby
0   kim  java        90        70      80.0    book
1   lee  java        80        80      80.0
2  park  java        70        80      75.0
3  choi   cad       100        70      85.0    yoga
4  jung   cad        90        90      90.0  soccer

In [ ]:
#loc를 사용한 특정데이터 조회
#행조회 위해서는 index가 설정되어있어야함
#학번 컬럼을 data프레임에 index로 지정하는 방법
df = pandas.DataFrame(data, index=['1st','2nd','3rd','4th','5th'])

df.index.name = 'no'
#특정컬럼을 index로 지정
#df.set_index('no')

#반영 커밋
df.set_index('no',inplace=True)

In [ ]:
#문법 : df.loc[조회할 행,조회할 컬럼]
print( df.loc['1st','korScore'] )

90

In [27]:
df.loc[['1st','2nd'],['korScore','engScore']]

     korScore  engScore
no
1st        90        70
2nd        80        80

In [32]:
df.loc['1st':'3rd','korScore':'avgScore']

     korScore  engScore  avgScore
no
1st        90        70      80.0
2nd        80        80      80.0
3rd        70        80      75.0

In [ ]:
#iloc를 사용한 데이터 조회
#iloc는 데이터를 index번호로 조회
#df.iloc[조회할 행 번호, 조회할 컬럼 번호]

print(df.iloc[0,3])
print(df.iloc[0,1],[2,3])

#iloc에서 슬리이싱 연산시 마지막인덱싱 포함안됨
print(df.iloc[0:4,2:5])

70
java [2, 3]
     korScore  engScore  avgScore
no
1st        90        70      80.0
2nd        80        80      80.0
3rd        70        80      75.0
4th       100        70      85.0